.parent{
    background-color: aquamarine;
}
.child{
    background-color: rgb(43, 144, 226);
}
.submit{
    background-color: rgb(168, 168, 73);
    text-decoration: solid;
}

.parent{
    background-color: lightcoral;
    height: 500px;
}

.child{
    background-color: rgb(28, 131, 88);
}